.post-body table {
    width: auto;
    margin: 0 auto;
    -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1)
}

table {
 background-color:transparent
}

table {
 border-collapse:collapse;
 border-spacing:0
}

a {
 color:#337ab7;
 text-decoration:none
}

a {
 background-color:transparent
}

* {
 -webkit-box-sizing:border-box;
 -moz-box-sizing:border-box;
 box-sizing:border-box
}

.post-body img {
    
    vertical-align: top;
    margin: 5px 0;
    max-width: 100%;
}

.post-body table td {
	text-align: left;
    font-size: 14px;
    padding: 5px 10px;
}

td,
th {
 padding:0
}

.post-title {
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    padding: 0 20px;
    color: #04152c;
    margin: 0;
    padding: 0;
}

h1,
.h1 {
 font-size:36px
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
 font-family:inherit;
 font-weight:500;
 line-height:1.1;
 color:inherit
}