@charset "utf-8";
#notice {
  background:var(--gray1);
  margin:2em;
}
h2 {
  padding:1rem;
  background:var(--green1);
}
p {
  padding:1rem;
}
p a {
  display:inline-block;
  background:var(--green1);
  color:var(--white);
  padding:0.5em;
}